{% extends 'index.html' %}
{% block content %}

<h3>Recently Read</h3>
<div class="owl-carousel owl-theme">
    {% for manga in mangas %}
        <div class="item">
            <div class="card h-100 border border-dark">
                <a href="{% url 'manga-details' manga.name %}">
                    <img class="card-img-top" src="{{manga.image_file.url}}">
                    <h5 class="card-body align-items-center">{{manga.name}}</h5>
                 </a>
            </div>
        </div>
    {% endfor %}
</div>

<br />
<!--<h3>Popular Manga</h3>-->

{% endblock %}